MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/bloglist?retryWrites=true&w=majority
TEST_MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/bloglist_test?retryWrites=true&w=majority
PORT=3003
SECRET=mysecret
